@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Outfit:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

body {
  max-width: 1440px;
  padding: 0px;
  margin: 0px;
  background: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
  min-height: 100vh;
}

.flex {
  max-width: 900px;
  min-height: 70vh;
  display: flex;
  /* place-content: center; */
  text-align: left;
}

.conteudo {
  padding: 30px;
}

.conteudo-sedans {
  background: hsl(31, 77%, 52%);
}

.conteudo-suvs {
  background: hsl(184, 100%, 22%);
}

.conteudo-luxury {
  background: hsl(179, 100%, 13%);
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.75);
  padding-left: 20px;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  padding: 20px;
}

a {
  display: inline-block;
  background: hsl(0, 0%, 95%);
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 25px;
  border-radius: 40px;
}

.conteudo-sedans a {
  color: hsl(31, 77%, 52%);
}

.conteudo-suvs a {
  color: hsl(184, 100%, 22%);
}

.conteudo-luxury a {
  color: hsl(179, 100%, 13%);
}
